@use "../style/global.scss" as *;

@include cmp("textarea") {
  &.vauid-autosize {
    resize: none;
    overflow: hidden;
  }

  &.vauid-no-resize {
    resize: none;
  }
}

// Password
@include cmp("input") {
  &-wrap {
    position: relative;
    height: fit-content;
    width: fit-content;
  }

  &-suffix {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  // NumberInput
  &[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      opacity: 1;
    }
  }
}


@include cmp("password") {
  padding-right: 32px;
}