@use "../style/global.scss" as *;

@include cmp("button") {
  font-family: font(sans) !important;
  font-size: 1rem;
  padding: 0 padding("md");
  border-radius: radius("md");
  background: color("bg-elevated");
  border: 1px solid color("border-default");
  color: color("text-secondary");
  line-height: 2rem;
  @include button;
  @include flex-center;
  @include box-shadow(color("border-default"));
  gap: 4px;
}
