@use "../style/global.scss" as *;

@mixin basic-button {
  font-size: font-size("sm");
  background: color("bg-elevated");
  @include button;
  @include flex-center;
  gap: 4px;
  color: color("text-secondary");
  white-space: nowrap;
}

@include cmp("button") {
  font-family: font(sans) !important;
  @include basic-button();

  gap: 4px;
  &--round {
    border-radius: radius("full");
  }
  &--small {
    padding: padding("xs") padding("sm");
    border-radius: radius("sm");
  }
  &--medium {
    padding: padding("sm") padding("md");
    border-radius: radius("md");
  }
  &--large {
    padding: padding("md") padding("lg");
    border-radius: radius("lg");
  }
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

@include cmp("button--icon") {
  font-size: 1rem;
  @include basic-button();
  &--round {
    border-radius: radius("full");
  }
  &--small {
    padding: padding("xs");
    border-radius: radius("sm");
  }
  &--medium {
    padding: padding("sm");
    border-radius: radius("md");
  }
  &--large {
    padding: padding("md");
    border-radius: radius("lg");
  }
}
