@use "../style/global.scss" as *;

@include cmp("thumbnail") {
  height: 120px;
  width: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: space("sm");
  padding: space("sm");
}

@include cmp("layout-focus-tb") {
  cursor: pointer;
  @include flex-between;
  gap: 0px;
  border-radius: radius("sm");
  padding: 0 !important;
  &-aside {
    width: 35%;
    height: 100%;
    padding: 2px 1px;
    @include flex-start;
    flex-direction: column;
    gap: 2px;
    &-item {
      height: calc(25% - 1px);
      width: 100%;
      background-color: color("border-default");
    }
  }
  &-main {
    margin: 2px 1px;
    border-radius: 2px;
    height: calc(100% - 4px);
    background-color: color("border-default");
    flex: 1;
  }
}

@include cmp("layout-grid-tb") {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  border-radius: radius("sm");
  padding: 2px !important;
  &-aside {
    
    &-item {
      height: 100%;
      width: 100%;
      background-color: color("border-default");
    }
  }
}

@include cmp("layout-fullscreen-tb") {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: radius("sm");
  padding: 2px !important;
  &-main {
    background-color: color("border-default");
    flex: 1;
    width: 100%;
    border-radius: 2px;
  }
}