@use "../style/global.scss" as *;

@include cmp("basic_tile") {
  height: 100%;
  width: 100%;
  padding: space(lg);
  overflow-y: auto;
  cursor: text;
  line-height: 1.6;
  border: 1px solid color(border-default);
  border-radius: radius(md);
  @include flex-start;
  flex-direction: column;
}

@include cmp("tile-wrap") {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: space(xs);
  overflow: hidden;
}

@mixin unifiedFloat {
  width: fit-content;
  max-width: calc(50% - 2 * space(xs));
  height: fit-content;
  max-height: calc(50% - 2 * space(xs));
  position: absolute;
  margin: space(xs);
  gap: space(xs);
}

@include cmp("tile-float") {
  position: absolute;
  z-index: 100;

  &--leftTop {
    @include unifiedFloat;
    top: 0;
    left: 0;
    @include flex-start;
  }
  &--leftBottom {
    @include unifiedFloat;
    bottom: 0;
    left: 0;
    @include flex-start;
  }
  &--rightTop {
    @include unifiedFloat;
    top: 0;
    right: 0;
    @include flex-end;
  }
  &--rightBottom {
    @include unifiedFloat;
    bottom: 0;
    right: 0;
    @include flex-end;
  }
}

//-------- audio-tile -------------------------------------------

@include cmp("audio-tile") {
  height: 100%;
  width: 100%;
  @include flex-center;
  flex-direction: column;
  gap: space(md);
  &__waveform {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: space(sm);

    canvas {
      display: block;
      height: 30%;
      min-height: 48px;
    }
  }
}

// --------- video-tile -------------------------------------------
@include cmp("video-tile") {
  height: 100%;
  width: 100%;
}