@use "../style/global.scss" as *;

@include cmp("basic_tile") {
  height: 100%;
  width: 100%;
  padding: space(lg);
  overflow-y: auto;
  cursor: text;
  line-height: 1.6;
  border: 1px solid color(border-default);
  border-radius: radius(md);
  @include flex-start;
  flex-direction: column;
}
