@use "../style/global.scss" as *;

@include cmp("leave-button") {
  background-color: color("error") !important;
  transition: background-color var(--vauid-duration-normal) var(--vauid-ease-out);
  .leave-icon {
    transition: color var(--vauid-duration-normal) var(--vauid-ease-out);
  }
  &:hover {
    background-color: color("error-border") !important;
    .leave-icon {
      color: color("error-plain");
    }
  }
}

@include cmp("controller") {
  @include flex-between;
  width: 100%;
  gap: 32px;
  padding: 0 space("md");
  height: 52px;
  background-color: color("bg-secondary");
  @include cmp("devices") {
    @include flex-start;
    gap: space("md");
    flex: 1;
  }

  @include cmp("screenShare") {}

  @include cmp("active") {
    border: 1px solid color("accent");
    background-color: color("accent");
    color: color("text-secondary");
  }
}


@include cmp("device-slider") {
  @include flex-center;
  gap: space("sm");
  background-color: color("bg-elevated");
  padding: space("sm") ;
  padding-right: space("md");
  border-radius: radius("md");
}