@use "../style/global.scss" as *;

@include cmp("prejoin") {
  @include flex-between;
  flex-direction: column;
  align-content: space-between;
  gap: space("md");
  height: 100%;
  width: 100%;
  &-header {
    height: 150px;
    @include flex-center;
    align-items: flex-end;
    padding: 0 space("md");
  }
  &-main {
    flex: 1;
    min-height: 300px;
    @include flex-center;
    width: 100%;
  }
  &-video {
    height: calc(100% - space("lg"));
    background-color: color("bg-secondary");
    aspect-ratio: 16 / 9;
    width: auto;
    border-radius: radius("md");
    object-fit: cover;
  }
  &-footer {
    height: 120px;
    @include flex-between;
    gap: space("md");
    &-device {
      @include flex-center;
      gap: space("md");
    }
  }
  &-input {
    font-size: font-size("h2");
    background-color: transparent;
    text-align: center;
    border-bottom: 2px solid color("border-default") !important;
    border-radius: 0;
  }
  &-join-btn {
    font-weight: bold;
    background-color: color("success");
    padding: space("sm") space("lg");
  }
}
